//COLOR VARIABLES

//primary color
$primary-color-dark-cyan: #3c8067;
$primary-color-cream: #f2ebe3;

//secondary color
$secondary-color-dark-blue: #1c232b;
$secondary-color-gravish-blue: #6c7289;
$secondary-color-white: #ffffff;

//fonts

$primary-font: "Montserrat", sans-serif;
$secondary-font: "Fraunces", serif;

//Genaral Setup

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $primary-color-cream;
}

.container {
  display: flex;
  width: 800px;
  height: 500px;

  .left-side {
    width: 400px;
    height: 500px;

    .image {
      width: 400px;
      height: 500px;
      object-fit: cover;
    }
  }

  .right-side {
    display: flex;
    flex-direction: column;
    background-color: $secondary-color-white;
    height: auto;
    max-width: 400px;
    width: 400px;

    #content {
      padding: 3rem;
      height: auto;

      .title {
        font-family: "Montserrat";
        font-size: 1.2rem;
        color: $secondary-color-gravish-blue;
        letter-spacing: 0.8rem;
      }

      .product-title {
        font-size: 1.7rem;
        font-family: Fraunces, sans-serif;
        font-weight: 700;
        line-height: 4rem;
        margin-top: 2rem;
        padding-right: 8rem;
      }
      .text {
        font-family: "Montserrat", sans-serif;
        font-size: 1.5rem;
        color: $secondary-color-gravish-blue;
        margin-top: 2rem;
        margin-bottom: 3rem;
        padding-right: 5rem;
        line-height: 2.5rem;
      }
      .pricing {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
      .current-price {
        color: $primary-color-dark-cyan;
        font-size: 3rem;
        font-weight: 700;
        font-family: Fraunces, sans-serif;
        margin-right: 2rem;
      }
      .before-price {
        color: $secondary-color-gravish-blue;
        text-decoration: line-through;
        font-size: 1.2rem;
      }

      .btn {
        background-color: $primary-color-dark-cyan;
        color: $secondary-color-white;
        border-radius: 5px;
        padding: 1.5rem 0;
        margin-top: 3rem;
        font-weight: bold;
        border: none;
        max-width: 100%;
        width: 100%;
        position: relative;

        &:hover {
          background-color: $secondary-color-dark-blue;
        }

        .cart-icon {
          position: absolute;
          left: 8rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  .container {
    flex-direction: column;
    align-items: center;
    max-width: 375px;
    
    height: auto;

    .left-side {
      max-width: 375px;
      height: auto;

      .image {
        max-width: 375px;
        height: auto;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }
    }
    .right-side {
      max-width: 375px;
     
      #content {
        .product-title {
          padding-right: 1rem;
        }
        .text {
          padding-right: 0rem;
        }
        .btn {
          .cart-icon {
            left: 9rem;
          }
        }
      }
    }
  }
}
